# Default ignored files
/shelf/
/.idea/workspace.xml
.idea/
*.iml
# Datasource local storage ignored files
/../../../../../../:\Users\mikig\git\Zip compressor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
# production files
out/
artifacts/*
src/META-INF/*